<h3>Step 1: Link required files</h3>

{{#is file.meta.layout "home"}}
<div class="t-sm-width7of8 t-center">
{{/is}}

{{#markdown}}
``` html
<!-- animsition.css -->
<link rel="stylesheet" href="{{file.meta.base_url}}dist/css/animsition.min.css">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- animsition.js -->
<script src="{{file.meta.base_url}}dist/js/animsition.min.js"></script>
```
{{/markdown}}

{{#is file.meta.layout "home"}}
</div>
{{/is}}




<h3>Step 2: HTML markup</h3>
{{#is file.meta.layout "home"}}
<div class="t-sm-width2of3 t-center">
{{/is}}

{{#markdown}}
``` html
<body>
{{#is file.meta.layout "overlay"}}
  <div class="animsition-overlay" data-animsition-overlay="true">
{{else}}
  <div class="animsition">
{{/is}}
    <a href="./page1" class="animsition-link">animsition link 1</a>
    <a href="./page2" class="animsition-link">animsition link 2</a>
  </div>
</body>
```
{{/markdown}}

{{#is file.meta.layout "home"}}
</div>
{{/is}}




<h4 class="t-mtLg">If you want each "linkElement" to use a different animation. </h4>
{{#is file.meta.layout "home"}}
<div class="t-sm-widthHalf t-center">
{{/is}}
{{#markdown}}
``` html
{{#is file.meta.layout "overlay"}}
<a
  href="./page1"
  class="animsition-link"
  data-animsition-out-class="overlay-slide-out-top"
  data-animsition-out-duration="2000"
>
  animsition link 1
</a>

<a
  href="./page2"
  class="animsition-link"
  data-animsition-out-class="overlay-slide-out-right"
  data-animsition-out-duration="500"
>
  animsition link 2
</a>
{{else}}
<a
  href="./page1"
  class="animsition-link"
  data-animsition-out-class="fade-out-right"
  data-animsition-out-duration="2000"
>
  animsition link 1
</a>

<a
  href="./page2"
  class="animsition-link"
  data-animsition-out-class="rotate-out"
  data-animsition-out-duration="500"
>
  animsition link 2
</a>
{{/is}}
```
{{/markdown}}
{{#is file.meta.layout "home"}}
</div>
{{/is}}


<h4 class="t-mtLg">If you want to each page to use a different animation.</h4>
{{#is file.meta.layout "home"}}
<div class="t-sm-widthHalf t-center">
{{/is}}
{{#markdown}}
``` html
{{#is file.meta.layout "overlay"}}
<div
  class="animsition-overlay"
  data-animsition-overlay="true"
  data-animsition-in-class="{{file.meta.inAnimateClass}}"
  data-animsition-in-duration="1000"
  data-animsition-out-class="{{file.meta.outAnimateClass}}"
  data-animsition-out-duration="800"
>
  ...
</div>
{{else}}
<div
  class="animsition"
  data-animsition-in-class="{{file.meta.inAnimateClass}}"
  data-animsition-in-duration="1000"
  data-animsition-out-class="{{file.meta.outAnimateClass}}"
  data-animsition-out-duration="800"
>
  ...
</div>
{{/is}}
```
{{/markdown}}
{{#is file.meta.layout "home"}}
</div>
{{/is}}


<h3>Step 3: Call the animsition</h3>
{{#is file.meta.layout "home"}}
<div class="t-sm-width3of4 t-center">
{{/is}}
{{#markdown}}
``` js
$(document).ready(function() {
  {{#is file.meta.layout "overlay"}}
  $(".animsition-overlay").animsition({
  {{else}}
  $(".animsition").animsition({
  {{/is}}
    inClass: '{{file.meta.inAnimateClass}}',
    outClass: '{{file.meta.outAnimateClass}}',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    {{#is file.meta.layout "overlay"}}
    overlay : true,
    {{else}}
    overlay : false,
    {{/is}}
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});
```
{{/markdown}}
{{#is file.meta.layout "home"}}
</div>
{{/is}}

<p><a class="Button Button--primary" href="https://github.com/blivesta/animsition/tree/master/sandbox" target="_blank">Example</a></p>
